.modal {
  position: fixed;
  top: 150px;
  left: 40%;
  width: 26%;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}

.modal h1 {
  color: black;
  text-align: center;
  font-size: xx-large;
}

.drop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
