.header {
  padding: 25px 0 25px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  color: white;
  background-color: rgb(68, 60, 60);
  z-index: 1;
}

.row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.logoImg {
  width: 80px;
}

.logo span {
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.03em;
  text-shadow: 3px 2px 10px #acaaaa;
  text-transform: uppercase;
}

.nav {
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
}

.nav ul {
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.nav a {
  color: white;
}

.signUp {
  padding: 13px 22px 17px 22px;
  background-color: var(--yellow);
  border-radius: 7px;
  color: var(--textColor);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}

.signUp:hover {
  background-color: #edde80;
  color: rgb(67, 67, 67);
}

.signUp:active {
  background-color: var(--yellow);
  color: var(--textColor);
}
